
  
  p {
    font-family: 'Crimson Text', serif;
}
nav li ul{
				 display: none;
				top: 3%;
				width: 14em;
				z-index :1;
                position: absolute;
				
			}
nav li:hover > ul {
font-size: 15px;
display: inline-block;
color: black;
background-color: rgba(152, 145, 145, 0.925);
border-radius: 35px;}


section{width: 97%;}

nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}
nav li {
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  padding-left: 10px;
  padding-right: 10px;
}
 
nav a {
  text-decoration: none; 
  color: #fff;
  display: block;
  transition: .3s background-color;
  font-family: 'Julius Sans One', sans-serif;
  text-decoration: capitalize;
}
 
nav a:hover {
  background-color: #013232;
  text-decoration: none; 
  color: #fff;
  transition: linear 1.2s
}
 
nav a:active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  
  }
 
  nav li {
    display: inline-block;
    margin-right: -4px;
  }
}

body {background-color: rgba(139, 133, 133, 0.726);
  position: relative;
    margin: 10px;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
  color: rgb(19, 13, 13);
      margin-left:5%;
      margin-right: 5%;
      text-decoration: wavy;
  
}

main {font-size :18px;
   }
header {
    font-family: 'Julius Sans One', sans-serif;	
    font-weight:bold;
}
header h1 {font-size: 50px;}

img {margin-top: 40px;
    border-radius: 50px;
height: 550px;
float: left;


}



 dl {display: flex;
  text-align: center;
  position: relative;
  justify-content: center;
 }
dd {padding-left: 15px; padding-right: 15px;}


footer {  
  position: relative;
  font-family: 'Island';
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-size: 25px;
  margin-top: 250px;
  background-color: rgb(95, 92, 92);
}
footer img {width: 40px;

height:40px}
footer img:hover {width: 40px;
  height:40px}
