
  p {
      font-family: 'Crimson Text', serif;
  }
   
  nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 5px;
  }
  nav li ul{
    display: none;
   top: 6%;
   width: 15em;
   z-index:2;
   position: absolute;
}
nav li:hover > ul {
font-size: 15px;
display: flex;
color: black;
background-color: rgba(60, 125, 40, 0.925);
border-radius: 35px;}

  nav li {
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #888;
    padding-left: 10px;
    padding-right: 10px;
  }
   
  nav a {
    text-decoration: none; 
    color: #fff;
    display: block;
    transition: .3s background-color;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: capitalize;
  }
   
  nav a:hover {
    background-color: #043f3f;
    text-decoration: none; 
    color: #fff;
    transition: linear 1.0s
  }
   
  nav a:active {
    background-color: #fff;
    color: #444;
    cursor: default;
  }
   
  @media screen and (min-width: 600px) {
    nav li {
      width: 120px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      font-size: 1.4em;
    
    }
   
    nav li {
      display: inline-block;
      margin-right: -4px;
    }
  }
  
  body {background-color: rgba(139, 133, 133, 0.726);
    position: relative;
      margin: 10px;
      text-align: center;
      font-family: 'Julius Sans One', sans-serif;
    color: rgb(19, 13, 13);
        margin-left:5%;
        margin-right: 5%;
        text-decoration: wavy;
        
    
  }
  
  main {font-size :22px}
  header {
      font-family: 'Julius Sans One', sans-serif;	
      font-weight:bold;
  }
  header h1 {font-size: 50px;}
  img {float: right;
    position: relative;
    width :150px;
    height: 150px;
    border-radius: 100px;
    }

  img:hover{width:250px;
height:250px;
transition: linear 1.7s;
border-radius: 125px;}

  input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
  }
  
  input[type=submit] {
      width: 100%;
      background-color: #666666;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  input:hover {border-color: #005f5f;}
  textarea:hover {border-color: #005f5f;}
  input[type=submit]:hover {
      background-color: rgb(26, 23, 23);
  }
  
  form {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      font-family: 'Julius Sans One', sans-serif;	
      text-transform: uppercase;
  }
  form h1 {text-align: center;}
  
  form option {
      font-family: 'Crimson Text', serif;
  }
  form textarea {
        width: 97%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 8px 0;
      padding: 12px 20px;
  }
  

   dl {
    display:inline-flex;
    
   }
 dd {padding-left: 15px; padding-right: 15px;}
 

 footer {  
  position: relative;
  font-family: 'Island';
  text-align: center;
  font-style: oblique;
  font-weight: bold;
  font-size: 25px;
  margin-top: 150px;
  background-color: rgb(95, 92, 92);
}

footer img {width: 40px;
  margin-top: -10px;
  margin-bottom: -40px;
height:40px}
footer img:hover {width: 40px;
  height:40px}
