@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border:none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins';
}
 :root {
 /* background: #000046;  /* fallback for old browsers 
  background: -webkit-linear-gradient(to top, #1CB5E0, #000046);   Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to top, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: #0f0846;
  --second-bg-color: #112e42;
  --text-color : #ededed;
  --main-color: #00abf0;

}
 .logo strong {
  color: #7d2ae8;
  font-size: 35px;
}

article{
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-image: radial-gradient( circle farthest-corner at -14.3% -17.5%,  rgba(245,168,168,1) 4%, rgba(164,168,248,1) 100.2% );
}
html {
}
.a{
  
  color:azure;
}

 .a:hover {
  color: #7d71eb;
  cursor: pointer; 
  font-family: 'Poppins';
}


body {
  background: var(--bg-color);
  color: var(--text-color);
}
main{
  justify-content: center;
  align-items: center;
}

 #inner{font-size: 1.4em;
margin-right: 10%;}

img{
  width: 100%;
  object-fit: cover;
}

.container{
  margin-top: 20px;
}

#pdf-container {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#pdf-container.show-pdf {
display: block;
opacity: 1;
transition: opacity 0.5s ease-in-out;
}

a{
  text-decoration: none;
}

#resume {
  text-align: center;
}

.parallax {
  /* The image used */
  background-image: url("https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?auto=compress&cs=tinysrgb&w=1600");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-item{
  color: #fff;
  font-size: 90px;
  letter-spacing: 3px;
}

  .parallax-item{position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
 
}

.navbar-scroll {
  background-color: #0f0846; /* Background color when scrolling */
  transition: background-color 0.5s ease-in-out;
}

.carousel-item img{
  height:500px;
  object-fit: contain;
}

.carousel-indicators{

 border-radius: 25px;
 text-align: center;

}
.carousel-item1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; /* Adjust height as needed */
}